.footer {
  padding: 10px;
  height: 8%;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(#b0bbbf, #8e7e70)
}

.uno{
  float: left;
  padding-left: 20%;
}

.dos{

}

.tres{
  float: right;
  padding-right: 20%;
}